body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #000000;
    color: white;
    padding: 20px;
  }
  .animated-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    width: 280px;
    height: 280px;
    cursor: pointer;
    border-radius: 50%; 
    text-align: center;
    text-decoration: none;
    outline: none;
    color: rgb(255, 255, 255);
    background-color: #f0610296;
    border: none;
    border-radius: 200px;
    transition: all 0.3s ease;
    margin: 10px;
    animation: pulse 2s infinite;
    background: linear-gradient(to right, #ee520a, #030303);
  }
  
  .animated-button:hover {
    background-color: #e4a909;
    transform: scale(1.1);
  }
  
  .animated-button:active {
    background-color: #045fe7;
    box-shadow: 0 5px rgb(248, 246, 246);
    transform: scale(1);
  }
  @keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.05); }
    100% { transform: scale(1); }
  }
  .animated-button1 {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    width: 280px;
    height: 280px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: rgb(255, 255, 255);
    background-color: #f0610296;
    border: none;
    border-radius: 15px;
    border-radius: 200px;
    transition: all 0.3s ease;
    margin: 10px;
    animation: pulse 2s infinite;
    background: linear-gradient(to right, #ee520a, #030303);
    background-image: url(./Cannabis_leaf.png);
    background-size: cover;
  }
  
  .animated-button1:hover {
    background-color: #e4a909;
    transform: scale(1.1);
  }
  
  .animated-button1:active {
    background-color: #0b66f0;
    box-shadow: 0 5px rgb(248, 246, 246);
    transform: scale(12);
  }

  .white-text{
    color: white;
  }

  header h1 {
    margin: 0;
    text-align: center;
  }
  
  main {
    padding: 20px;
  }
  
  section {
    margin-bottom: 20px;
  }
  
  section h2 {
    margin-top: 0;
  }
  
  footer {
    background-color: #000000;
    color: white;
    padding: 10px;
    text-align: center;
  }
  
  .sun {
    position: absolute;
    top: 200px;
    left: 1200px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: rgb(247, 243, 10);
    animation: spin 20s linear infinite;
  }
  
  .sun-face {
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    border-radius: 50%;
    background: #070866;
  }
  
  .sun-ray {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    border-right: 15px solid transparent;
    border-top: 25px solid yellow;
    transform: rotate(45deg) translate(-50%, -50%);
    transform-origin: center;
  }
  
  .sun-ray:nth-child(1) {
    transform: rotate(30deg);
  }
  
  .sun-ray:nth-child(2) {
    transform: rotate(60deg);
  }
  
  .sun-ray:nth-child(3) {
    transform: rotate(90deg);
  }
  
  .sun-ray:nth-child(4) {
    transform: rotate(120deg);
  }
  
  .sun-ray:nth-child(5) {
    transform: rotate(150deg);
  }
  
  @keyframes spin {
    from {
      transform: rotate(180deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  